body{
    width: 100vw;
    height: 100%;
    overflow: hidden;
}



/* Sidebar container */
.sidebar {
    width: 80px;
    background-color: #E3F9E5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    overflow: hidden;
    border-radius: 0px 20px 20px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Sidebar logo */
.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Sidebar buttons */
.sidebar-btn {
    width: 60px;
    height: 60px;
    background-color: #E3F9E5;
    color: #333;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 8px;
}

/* Active button style */
.sidebar-btn.active {
    background-color: #2ECC71;
    color: white;
}
.sidebar-btn:hover{
    background-color: #2ECC71;
    color: white;
}

/* Icon styling */
.sidebar-btn svg {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

/* Line separator */
.separator {
    width: 70%;
    height: 1px;
    background-color: #c4c4c4;
    margin: 10px 0;
}


/* Main content styling */
.main-content {
    margin-left: 82px;
    padding: 20px;
    width: calc(100% - 87px);
    top: -720px;
    position: relative;
    overflow: hidden;
    background-color: #f8f9fa;
}

.top-nav {
    height: 50px;
    background-color: #fff;
    padding-right: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.icon-link {
    display: inline-block;
}

.icon {
    width: 24px;
    height: 24px;
}

/* Content area */
.content {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.section-details {
    background-color: #e8f7e7;
    border-radius: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    height: 71vh;
    overflow: scroll;
}

.btn-success {
    background-color: #4CAF50;
    border: none;
}

.btn-success:hover {
    background-color: #45a049;
}
